header {
    width: 100%;
    height: 60px;
    background-color: #565656;
    color: #fff; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}